body {
    background-color: rgb(168, 50, 68);
}

.paragraph {
    color: blue;
    padding-left: 1em;
    padding-right: 1em;
}

.bio {
    display: inline-block;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(209, 199, 200);
    border-radius: 10px;
    text-align: center;
}

.nav {
    text-align: center;
    color: blue;
    border: none;
    display: block;
}
.nav:hover{
    color: rgb(168,50,68);
}

.navLink {
    color: black;
    text-align: center;
    font-size: 22px;
    display: block;
}

.navLink:hover {
    color: rgb(168,50,68);
}

#accordion {
    background-color: rgb(209, 199, 200);
    border-radius: 10px;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    display: block;

}

#copyR{
    position: fixed;
    text-align: center;
    bottom:0px;
    width: 100%;

}

#header{
    text-align: center;
    padding-top: 5.5em;
    
}

header{
    background-color:rgb(209, 199, 200);
    border-radius: 10px;
    width: 80em, auto;
    position: fixed;
    top: 1em;
    right: 8em;
    left: 8em;
}

.selfie{
    max-width: 100%;
    height: auto;
    text-align: center;
}

#accordion2 {
    background-color: rgb(209, 199, 200);
    border-radius: 10px;
    width: 40em, auto;
    cursor: pointer;
    display: compact;
}